Repository 10000-Bagger/free-topic-study, pull requests merged in 2024-02, with the labels that each got.

#7 [1주차 2] B Tree (1)
  woo/balanced-tree.md
  woo/img/avl-b.jpg
  woo/img/b-tree-tc.jpg
  woo/img/computer-storage-system.jpg
Labels: data-structure

#6 [1주차 1] - AVL Tree
  README.md
  woo/avl-tree.md
  woo/img/LL.jpg
  woo/img/LR.jpg
  woo/img/RL.jpg
  woo/img/RR.jpg
Labels: data-structure

#2 [1주차 1] pipelining 설명
  README.md
  hong/img/pipelined_architecture.png
  hong/parallel-programming/pipelining.md
Labels: parallel-programming

#3 [1주차 1] CDC(Change Data Capture)
  jin/.gitkeep
  jin/[1주차 1] cdc.md
Labels: DB

#8 [1주차 2] Pipelining 장점과 단점
  README.md
  hong/.gitkeep
  hong/parallel-programming/pipelining.md
Labels: parallel-programming

#9 [1주차 3] Pipeline Hazards
  README.md
  hong/parallel-programming/pipeline-hazards.md
Labels: parallel-programming

#23 [2주차 3] Next.js Layouts
  README.md
  woo/nextjs-layout.md
Labels: Next.js

#25 [2주차 4] Next.js Caching, Revalidating, Fetching
  woo/img/on-demend.jpg
  woo/nextjs-cacheing-revalidating-fetching.md
Labels: Next.js

#30 [2주차 5] 재사용성이 높은 컴포넌트 만들기
  hong/refactoring/making-highly-reusable-component.md
Labels: refactoring

#37 [3주차 2] Reactor Test
  woo/reactor-test.md
Labels: reactor

#24 [2주차 3] FMS and XState 2
  hong/img/xstate/eight-states-FMS.png
  hong/img/xstate/starting-stately-visualizer.png
  hong/img/xstate/two-states-FMS.png
  hong/img/xstate/xstate-ai-tamplate-state-chart.png
  hong/img/xstate/xstate-ai-template-creation.png
  hong/img/xstate/xstate-code-generation.png
  hong/img/xstate/xstate-welcome-page.png
  hong/state-management/FSM-XState.md
Labels: state management

#26 [2주차 4] Clean Code 0
  hong/clean-code/0. 핵심 내용 정리.md
  hong/img/clean-code/wtfm.jpg
Labels: clean code

#28 [2주차 5] 자바 컬렉션과 최적화.md
  jin/[2주차 5] 자바 컬렉션과 최적화.md
Labels: java

#18 [2주차 2] GC 1편 - GC Trade-Off와 Safepoint
  jin/[2주차 2] GC 1편 - GC trade-off와 safepoint.md
Labels: java
